.Weather {
    border: 1px solid black;
    padding: 10px;
    margin: 2px auto;
    border-radius: 12px;
    max-width: 700px;
  }
  
  .weather-temp .active:hover {
    text-decoration: none;
  }
  .weather-temperature .units {
    position: relative;
  }
  .weather-forecast {
    margin-top: 20px;
    text-align: center;
    width: 650px;
  }
  .weather-forecast-date {
    font-size: 18px;
  }
  